


html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* CSS variables */

:root{
    --primary-color:#35FB00;
    --primary-color2:#36fb00d5;
    --title-color:#141313;
    --text-color:#777777;
    --border-color:#ffffff;
    --gradient-color: linear-gradient(90deg,#05ce26 0%, #35FB00 100%);
    --shadow-color: 0px 10px 30px rgba(0, 248, 21, 0.521);
    --box-color:0px 10px 30px rgba(255, 255, 255, 0.61);

    /* font family variables */
    --roboto:"Roboto", cursive;
}